{% extends "base.html" %}
{% load static %}


{% block titulo %}
Mi perfil
{% endblock titulo %}

{% block contenido %}
<div class="user-container perfil-card">
  <h2>{{ user.username }}</h2>

  <div class="perfil-avatar">
  {% if user.profile.avatar %}
    <img src="{{ user.profile.avatar.url }}" alt="Avatar de {{ user.username }}">
  {% else %}
    <img src="{% static 'img/default-avatar.png' %}" alt="Avatar por defecto">
  {% endif %}
</div>

  <form method="post" enctype="multipart/form-data" class="user-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Guardar cambios</button>
  </form>
</div>
{% endblock contenido %}